.toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  .add {
    padding: 10px 20px;
    background-color: rgb(236, 190, 91);
    border: none;
    border-radius: 4px;
  }
  input {
    border: 1px solid gray;
    border-radius: 4px;
  }
}

table {
  width: 100%;
  td {
    padding: 10px 0;
  }
  th {
    text-align: left;
  }
}

.ellipsis-vertical {
  cursor: pointer;
  fill: gray;
  color: gray;
}

.pagination { 
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.delete-dialog {
  top: 0;
  bottom: 0;
  .action-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    button {
      padding: 15px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      &.reset {
        width: 40%;
        background-color: lightgray;
      }
      &.send {
        width: 40%;
        background-color: rgb(236, 190, 91);
      }
    }
  }
}

