<div class="toolbar">
  <input [formControl]="searchControl" placeholder="Search..." />
  <button class="add" type="button" (click)="onAdd()">Agregar</button>
</div>
<table>
  <thead>
    <tr>
      <th>Logo</th>
      <th>Nombre del producto</th>
      <th>Descripción</th>
      <th>Fecha de liberación</th>
      <th>Fecha de reestructuración</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of financialProducts; let i = index">
      <td>
        <img
          *ngIf="row.logo | validateUrl"
          [src]="row.logo"
          alt="Logo"
          width="30"
        />
      </td>
      <td>{{ row.name }}</td>
      <td>{{ row.description }}</td>
      <td>{{ row.date_release | date }}</td>
      <td>{{ row.date_revision | date }}</td>
      <td>
        <img
          src="../assets/ellipsis-vertical.svg"
          height="20px"
          class="ellipsis-vertical"
          (click)="
            financialProducts[i].showMenu = !financialProducts[i].showMenu
          "
        />
        <div *ngIf="financialProducts[i].showMenu" class="menu-options">
          <div (click)="onEdit(row)">Edit</div>
          <div (click)="onDelete(row)">Delete</div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="pagination">
<label for="select-pagination">{{ financialProducts.length }} Resultados</label>
<select id="select-pagination" (change)="itemsToShow=$event.target?.['value']; updateProductsList();">
  <option value="5">5</option>
  <option value="10">10</option>
  <option value="20">20</option>
</select>
</div>
<dialog *ngIf="selectedToRemoveFinancialProduct" class="delete-dialog" open>
  <p>
    Estás seguro de Eliminar el producto
    {{ selectedToRemoveFinancialProduct.name }}
  </p>
  <hr />
  <div class="action-buttons">
    <button class="reset" type="button" (click)="cancelDelete()">
      Cancelar
    </button>
    <button class="send" type="submit">Confirmar</button>
  </div>
</dialog>
